/* ==========================================================================
    SUNRISE THEME - DARK VERSION
    ========================================================================== */
/* Color codes used for the theme */
$primary-color              : #335352;
$dark-primary-color         : #335352;
$darker-primary-color       : #335352;
$light-primary-color        : #243B3A;
$lighter-primary-color      : #335352;
$background                 : #335352;
$background-light           : #335352;
$background-lighter        : #335352;
$text                      : #FFFDF3;
$text-muted                : #FFFDF3;
$link                      : #D7E4DB;
$link-hover                : #E6EFE8;
$link-visited              : #E6EFE8;
$footer                    : #273F3E;
$border                    : #243B3A;
$border-dark               : #243B3A;
$code-bg                   : #335352;
$code-bg-dark              : #335352;

/* Color codes used for the site */
$danger-color               : #ff6b7f;
$info-color                 : #52adc8;
$notice-color               : #f9b248;
$success-color              : #78c978;
$warning-color              : #f9b248;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(255, 255, 255, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Sunset dark theme CSS variables */
html[data-theme="dark"] {
    --global-base-color                 : #{$primary-color};
    --global-bg-color                   : #{$background};
    --global-footer-bg-color            : #{$footer};
    --global-border-color               : #{$light-primary-color};
    --global-dark-border-color          : #{$background-light};
    --global-code-background-color      : #{$code-bg};
    --global-code-text-color            : #{$text};
    --global-fig-caption-color          : #{$text-muted};
    --global-link-color                 : #{$link};
    --global-link-color-hover           : #{$link-hover};
    --global-link-color-visited         : #{$link-visited};
    --global-masthead-link-color        : #{$text};
    --global-masthead-link-color-hover  : #{$link-hover};
    --global-text-color                 : #{$text};
    --global-text-color-light           : #{$text-muted};
    --global-thead-color                : #{$background-lighter};
}

footer {
  color: #{$text};
}